<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('NewBee商城-首页','index')">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>
<content id="content">
    <nav th:replace="mall/header::nav-fragment"></nav>
    <div id="banner">
        <div class="all-sort-list">
            <th:block th:each="category : ${categories}">
                <div class="item">
                    <h3><span>·</span><a href="##"><th:block th:text="${category.categoryName}"></th:block></a></h3>
                    <div class="item-list clearfix">
                        <div class="subitem">
                            <th:block th:each="secondLevelCategory : ${category.secondLevelCategoryVOS}">
                                <dl class="fore1">
                                    <dt><a href="#"><th:block th:text="${secondLevelCategory.categoryName}"></th:block></a></dt>
                                    <dd>
                                        <th:block th:each="thirdLevelCategory : ${secondLevelCategory.thirdLevelCategoryVOS}">
                                            <em><a href="#"th:href="@{'/search?goodsCategoryId='+${thirdLevelCategory.categoryId}}">
                                                <th:block th:text="${thirdLevelCategory.categoryName}"></th:block>
                                            </a></em>
                                        </th:block>
                                    </dd>
                                </dl>
                            </th:block>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="swiper-container fl">
            <div class="swiper-wrapper">
                <!-- 配置了轮播图则显示后台配置的轮播图 -->
                <th:block th:unless="${#lists.isEmpty(carousels)}">
                    <th:block th:each="carousel : ${carousels}">
                        <div class="swiper-slide">
                            <a th:href="@{${carousel.redirectUrl}}">
                                <img th:src="@{${carousel.carouselUrl}}" alt="">
                            </a>
                        </div>
                    </th:block>
                </th:block>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <div id="sub_banner">
        <div class="hot-image">
            <a href="##">
                <img src="mall/image/hot3.jpg" alt="热销">
            </a>
        </div>
        <div class="hot-image">
            <a href="##">
                <img src="mall/image/hot3.jpg" alt="热销">
            </a>
        </div>
        <div class="hot-image">
            <a href="##">
                <img src="mall/image/hot3.jpg" alt="热销">
            </a>
        </div>
        <div class="hot-image">
            <a href="##">
                <img src="mall/image/hot3.jpg" alt="热销">
            </a>
        </div>
    </div>

    <div id="flash">
        <h2>新品上线</h2>
        <ul>
            <li>
                <a href="##">
                    <img src="mall/image/new.png" alt="新品">
                    <p class="name">HUAWEI Mate 30 Pro 双4000万徕卡电影四摄</p>
                    <p class="discount">超曲面OLED环幕屏</p>
                    <p class="item_price">5399</p>
                </a>
            </li>
            <li>
                <a href="##">
                    <img src="mall/image/new.png" alt="新品">
                    <p class="name">HUAWEI Mate 30 Pro 双4000万徕卡电影四摄</p>
                    <p class="discount">超曲面OLED环幕屏</p>
                    <p class="item_price">5399</p>
                </a>
            </li>
            <li>
                <a href="##">
                    <img src="mall/image/new.png" alt="新品">
                    <p class="name">HUAWEI Mate 30 Pro 双4000万徕卡电影四摄</p>
                    <p class="discount">超曲面OLED环幕屏</p>
                    <p class="item_price">5399</p>
                </a>
            </li>
            <li>
                <a href="##">
                    <img src="mall/image/new.png" alt="新品">
                    <p class="name">HUAWEI Mate 30 Pro 双4000万徕卡电影四摄</p>
                    <p class="discount">超曲面OLED环幕屏</p>
                    <p class="item_price">5399</p>
                </a>
            </li>
            <li>
                <a href="##">
                    <img src="mall/image/new.png" alt="新品">
                    <p class="name">HUAWEI Mate 30 Pro 双4000万徕卡电影四摄</p>
                    <p class="discount">超曲面OLED环幕屏</p>
                    <p class="item_price">5399</p>
                </a>
            </li>
        </ul>
    </div>

    <div id="recommend">
        <h2>为你推荐</h2>
        <a href="##" class="more">查看更多>></a>
        <ul>
            <li>
                <a href="##">
                    <div class="info discount">智能降噪 长久续航</div>
                    <img src="mall/image/recommend.jpg" alt="索尼 WH-1000XM3 头戴式耳机">
                    <p class="name">索尼 WH-1000XM3 头戴式耳机</p>
                    <p class="item_price">2599</p>
                    <p class="counter">猜你喜欢</p>
                    <div class="comment">
                        <p>新蜂精选</p>
                        <p>好物也可以不贵</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="info discount">智能降噪 长久续航</div>
                    <img src="mall/image/recommend.jpg" alt="索尼 WH-1000XM3 头戴式耳机">
                    <p class="name">索尼 WH-1000XM3 头戴式耳机</p>
                    <p class="item_price">2599</p>
                    <p class="counter">猜你喜欢</p>
                    <div class="comment">
                        <p>新蜂精选</p>
                        <p>好物也可以不贵</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="info discount">智能降噪 长久续航</div>
                    <img src="mall/image/recommend.jpg" alt="索尼 WH-1000XM3 头戴式耳机">
                    <p class="name">索尼 WH-1000XM3 头戴式耳机</p>
                    <p class="item_price">2599</p>
                    <p class="counter">猜你喜欢</p>
                    <div class="comment">
                        <p>新蜂精选</p>
                        <p>好物也可以不贵</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="info discount">智能降噪 长久续航</div>
                    <img src="mall/image/recommend.jpg" alt="索尼 WH-1000XM3 头戴式耳机">
                    <p class="name">索尼 WH-1000XM3 头戴式耳机</p>
                    <p class="item_price">2599</p>
                    <p class="counter">猜你喜欢</p>
                    <div class="comment">
                        <p>新蜂精选</p>
                        <p>好物也可以不贵</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="info discount">智能降噪 长久续航</div>
                    <img src="mall/image/recommend.jpg" alt="索尼 WH-1000XM3 头戴式耳机">
                    <p class="name">索尼 WH-1000XM3 头戴式耳机</p>
                    <p class="item_price">2599</p>
                    <p class="counter">猜你喜欢</p>
                    <div class="comment">
                        <p>新蜂精选</p>
                        <p>好物也可以不贵</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="info discount">智能降噪 长久续航</div>
                    <img src="mall/image/recommend.jpg" alt="索尼 WH-1000XM3 头戴式耳机">
                    <p class="name">索尼 WH-1000XM3 头戴式耳机</p>
                    <p class="item_price">2599</p>
                    <p class="counter">猜你喜欢</p>
                    <div class="comment">
                        <p>新蜂精选</p>
                        <p>好物也可以不贵</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="info discount">智能降噪 长久续航</div>
                    <img src="mall/image/recommend.jpg" alt="索尼 WH-1000XM3 头戴式耳机">
                    <p class="name">索尼 WH-1000XM3 头戴式耳机</p>
                    <p class="item_price">2599</p>
                    <p class="counter">猜你喜欢</p>
                    <div class="comment">
                        <p>新蜂精选</p>
                        <p>好物也可以不贵</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="info discount">智能降噪 长久续航</div>
                    <img src="mall/image/recommend.jpg" alt="索尼 WH-1000XM3 头戴式耳机">
                    <p class="name">索尼 WH-1000XM3 头戴式耳机</p>
                    <p class="item_price">2599</p>
                    <p class="counter">猜你喜欢</p>
                    <div class="comment">
                        <p>新蜂精选</p>
                        <p>好物也可以不贵</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="info discount">智能降噪 长久续航</div>
                    <img src="mall/image/recommend.jpg" alt="索尼 WH-1000XM3 头戴式耳机">
                    <p class="name">索尼 WH-1000XM3 头戴式耳机</p>
                    <p class="item_price">2599</p>
                    <p class="counter">猜你喜欢</p>
                    <div class="comment">
                        <p>新蜂精选</p>
                        <p>好物也可以不贵</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="##">
                    <div class="info discount">智能降噪 长久续航</div>
                    <img src="mall/image/recommend.jpg" alt="索尼 WH-1000XM3 头戴式耳机">
                    <p class="name">索尼 WH-1000XM3 头戴式耳机</p>
                    <p class="item_price">2599</p>
                    <p class="counter">猜你喜欢</p>
                    <div class="comment">
                        <p>新蜂精选</p>
                        <p>好物也可以不贵</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</content>
<div th:replace="mall/footer::footer-fragment"></div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/mall/js/swiper.min.js}" type="text/javascript"></script>
<script th:src="@{/mall/js/index.js}" type="text/javascript"></script>
</body>
</html>